body {
  font-family: 'Public Sans';
  position: relative;
  color: #0e334a;
  background-color: #ffffff;
  width: 21cm;
  height: 29.7cm;
  margin: auto;
}

.container {
  padding: 40px 40px 0 40px;
}

.page-header {
  display: relative;
  font-size: 32px;
  color: #2e9c8e;
  margin: 0 0 22px 0;
  height: 37px;
  font-weight: 600;
  letter-spacing: -0.64px;
  line-height: 37px;
}

.page-subheading-container > h4 {
  color: #003e52;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  margin: 16px 0;
}

.page-subheading-container > p {
  color: #546a7b;
  font-size: 12px;
  letter-spacing: 0;
  margin: 4px 0;
}

.account-container {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 1fr;
  margin-top: 42px;
}

.address-container {
  display: flex;
  flex-direction: column;
}

.address-container > span {
  width: 160px;
  color: #003e52;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  margin: 0;
  padding: 4px 0;
}

.address-content {
  display: flex;
  flex-direction: column;
  grid-gap: 8px;
}

.address-content > div {
  display: flex;
  letter-spacing: 0;
  line-height: 16px;
  color: #546a7b;
  font-size: 13px;
  border-bottom: 1px solid #e9eaea;
  padding: 8px 0;
}

.address-content > div:last-child {
  border-bottom: none;
}

.address-content div > span:first-child {
  width: 160px;
  font-weight: bold;
}

.account-summary-container {
  display: flex;
  flex-direction: column;
}

.account-summary-container h3 {
  color: #003e52;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  margin: 4px 0;
}

.account-summary-container div {
  display: flex;
  letter-spacing: 0;
  line-height: 16px;
  color: #546a7b;
  font-size: 13px;
  border-bottom: 1px solid #e9eaea;
  padding: 8px 0;
}

.account-summary-container div:last-child {
  border-bottom: none;
}

.account-summary-container div > span:first-child {
  width: 30%;
  font-weight: bold;
}

.transaction-container h3 {
  margin-top: 42px;
  margin-bottom: 0;
  color: #0f334a;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

thead > tr {
  background-color: #003e52;
  height: 50px;
  margin-top: 20px;
}

tbody > tr:first-child > td {
  padding-top: 20px;
}

tbody > tr:last-child > td {
  padding-bottom: 40px;
}

th {
  color: #ffffff;
  text-align: left;
  padding-left: 22px;
  max-width: 35px;
  min-width: 35px;
}

td {
  padding: 6px 0 22px 22px;
  font-size: 10px;
}

.page-break {
  page-break-after: always;
}
