body {
    font-family: 'Public Sans', sans-serif;
    --page-padding: 40px
  }

  .page {
    position: relative;
    color: #0e334a;
    background-color: #fff;
    width: 21cm;
    height: 29.7cm;
    margin: auto
  }

  .header {
    font-size: 48px;
    color: #2e9c8e;
    margin: 0;
    padding: 0 var(--page-padding)
  }

  .title {
    padding: 0 var(--page-padding);
    margin: 8px 0
  }

  .subheadings {
    display: flex;
    flex-direction: column;
    color: #546a7b;
    padding: 0 var(--page-padding);
    padding-bottom: 32px
  }

  .subheadings-main {
    font-size: 18px;
    padding-bottom: 2px
  }

  .subheadings-small {
    font-size: 14px;
    padding-bottom: 2px
  }

  .content-heading {
    background-color: #003e52;
    display: flex;
    justify-content: space-between;
    padding: 16px var(--page-padding);
    color: #fff;
    font-weight: bold
  }

  .content {
    display: flex;
    flex-direction: column;
    padding-top: 16px
  }

  .content-row {
    display: flex;
    justify-content: space-between;
    padding: 8px var(--page-padding);
    color: #546a7b;
    font-size: 14px
  }

  .border-bottom {
    border-bottom: 1px solid #e9eaea
  }

  .total {
    color: #0f334a;
    font-weight: bold;
    padding-top: 32px;
    font-size: 18px
  }

  .total-summary {
    color: #0f334a;
    font-weight: bold;
  }

  .footer {
    width: 770px;
    position: absolute;
    bottom: 18px;
    display: flex;
    padding: 0 var(--page-padding);
    justify-content: space-between;
    align-items: center
  }

  .footer-logo {
    color: #fff;
    background-color: #003e52;
    font-size: 40px;
    padding: 16px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center
  }

  .page-number {
    padding-right: 64px
  }

  .page-break {
    page-break-after: always
  }

  .page-title {
    margin-top: 40%
  }

  .page-list{
    margin-top: -40%
  }